/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  display: inline-grid;
}

.button-title, .customized-buttons {
  display: inline-grid;
}

.button-title {
  position: absolute;
  left: 37%;
  margin-top: 1rem;
}

.customized-buttons {
  float: right;
  padding: 2rem;
  display: grid;
  grid-auto-flow: row;
  width: 15%;
  height: 100vh;
  gap: 3rem;
  background-color: #1c6ea4;
  
}

.primary-button {
  background-color: #007bff;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  opacity: 0.8;
  &:hover {opacity: 1;
  }
}

.secondary-button {
  background-color: #6c757d;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }

}

.success-button {
  background-color: #28a745;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.warning-button {
  background-color: #ffc107;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  opacity: 0.8;
  &:hover {opacity: 1;
  }
}

.danger-button {
  background-color: #dc3545;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.dark-button {
  background-color: #343a40;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  opacity: 0.8;
  &:hover {opacity: 1;
  }
}

.make-me-better-button {
  // padding: 1rem;
  font-size: 2rem;
  position: absolute;
  left: 40%;
  top: 20%;
  
  animation: spin 1000ms alternate linear;

}

.button-config {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 35%;
  top: 35%;
  width: 25%;
  gap: 1rem;
}

@keyframes spin {
  0% {
    transform:rotateX(0deg);
    
  } 
  100% {
    transform: rotate(360deg);
  }
  
}

body {
  background-color: #dd96b0;
}

.boxshadow-title {
  display: inline;
}
.box-shadow {
  display: inline-grid;
  width: 200px;
  height: 200px;
  padding: 1rem;
  outline: 1px solid black;
  place-content: center;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 15%;

  animation: spin 1000ms alternate linear;
}

.box-shadow > span {
  text-align: center;
}
.box-shadow {
  background-color: #1c6ea4;
  color: wheat;
}

.box-shadow-config {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 35%;
  top: 50%;
  width: 35%;
  gap: 1rem;
}

.boxshadow-title {
  position: absolute;
  left: 47%;
  margin-top: 2rem;
}

.input-title {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-top: 2rem;
  text-align: center;
  
}

.style-me {
  
  position: absolute;
  left: 40%;
  top: 15%;
  height: 2rem;
  width: 30%;
  text-align: center;
}

.input-config {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 35%;
  top: 40%;
  width: 35%;
  gap: 1rem;
}

.font-config {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 35%;
  top: 40%;
  width: 35%;
  gap: 1rem;
}


